@media (max-width: 1100px) {

   .slider__main::before,
   .slider__main::after {
      display: none;
   }

   .footer__items::before,
   .footer__items::after {
   display: none;
   }

}

@media (max-width: 910px) {
   .sliders {
      margin-bottom: 30px;
   }
   
   .slider-item {
      height: 350px;
   }

   .items {
      margin-bottom: 10px;
   }

   .items__inner {
      flex-wrap: wrap;
   }
   
   .item {
      width: 50%;
      margin-bottom: 20px;
   }

   .works {
      margin-bottom: 10px;
   }

   .works__items {
      flex-wrap: wrap;
      justify-content: space-around;
   }

   .work {
      margin-bottom: 20px;
   }
}

@media (max-width: 600px) {
   .footer__items {
      flex-wrap: wrap;
      padding: 20px 0 0 0;
   }

   .footer__column {
      width: 50%;
      margin-bottom: 20px;
   }
}

@media (max-width: 500px) {

   .header__menu-btn {
      display: block;
   }

   .menu ul {
      display: none;
      position: absolute;
      top: 78px;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 3;
      background: #fff;
      border-bottom: 5px solid #e8663c;
   }

   .menu li {
      display: block;
      text-align: center;
   }

   .menu li+li {
      margin-left: 0px;
   }

   .menu a {
      display: block;
   }

   .slider-item__text-box {
      width: 270px;
      left: 10px;
   }

   .item {
      width: 100%;
   }

}






@media (min-width: 500px) {

   .menu ul {
      display: block !important;
   }

}